@use 'variables' as *;

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 5.5rem;
    overflow: hidden;
    
    .banner-text{
        
        .text-1{
            display:none;
            margin: 0;
            font-size: $font-size-1;
            font-weight: $font-weight-1;
            line-height: $line-height-1;
        }
        .text-2{
            margin: 0;
            font-size: $font-size-banner-1;
            line-height: $line-h-banner-1;
            font-weight: $font-weight-2;
        }
    }
    .highlighted{
        font-size: $font-size-1;
        font-weight: $font-weight-1;
        line-height: $line-height-1;
        text-transform: uppercase;
    }
    .image-container{
        position: relative;
        width: 100%;
        height: auto;

        .highlighted-image-background{
            img{
                max-width: 96.875rem;
                width: 100%;
                height: auto;
                object-fit: cover;
                display: block;
                justify-self: center;
            }        
        }
        .highlighted-image-foreground{
            position: absolute;
            width: 15%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
            z-index: 4;  
        }
    }
    .banner-title{
        font-size: $font-size-1;
        font-weight: $font-weight-1;
        line-height: $line-height-1;
    }
    .banner-highlighted-title{
        line-height: $line-h-banner-2;
        font-size: $font-size-4;
        font-weight: $font-weight-2;
        margin-top: 0;
        margin-bottom: 140px;
        max-width: 1100px;
    }
    @media (min-width:$tablet){
        .text-2{
            font-size: clamp(2.75rem, -8.0726rem + 17.7419vw, 5.5rem);
            font-weight: 300;
        }
    }
    @media (min-width:$desktop){
        .banner-text{
            display: grid;
            grid-template-columns:19.5rem auto;
            gap: 0.5rem;
            .text-1{
                display: block;
            }
        }

    }
}