@use "variables" as *;

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 8rem;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 6rem;
}

.blog-card {
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
}

.blog-card img {
  width: 100%;
  height: auto;
}

.title {
  font-size: $font-size-1;
  font-weight: $font-weight-1;
}

.blog-title {
  margin-top: -0.25rem;
  font-size: $font-size-4;
  font-weight: $font-weight-1;
  line-height: $line-height-2;
}

@media (min-width: $tablet) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    align-items: start;
    padding: 0 2rem;
  }
}

@media (min-width: $desktop) {
  .blog {
    max-width: 120rem;
    padding-bottom: 5rem;
  }

  .blog-card {
    width: 100%;
    height: auto;
  }
}
