@use 'variables' as *;

.commitments {
    margin: 0 4rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 4rem 21rem;
    width: auto;
    height: auto;   
    overflow: hidden;
}

.grid1, 
.grid2,
.grid3,
.grid4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 1rem;
    width: 35rem;
    height: auto;
    
}

.commitments-title {
    font-size: $font-size-4;
    font-weight: $font-weight-1;
    line-height: $line-height-3;
}

.circle-number {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.circle-number::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.25; 
    z-index: -1; 
    background-color: transparent;
    border: 2px solid;
}

.commit-title {
    text-transform: uppercase;
    font-size: $font-size-1;
    font-weight: $font-weight-1;
}

.commit-description {
    font-size: $font-size-3;
}

.commitment-two {
    padding-left: 0px;
    width: 310px;
}

.get-in-touch-container {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}

.get-in-touch-container h2 {
    font-weight: $font-weight-1;
}

.get-in-touch-link {
    padding-right: 7px;
    color: $color-1;
    text-decoration: none;
    border-bottom: 2px solid $color-1; 
    line-height: 0.2; 
    margin-bottom: -1px;
}

.bullet-point {
    font-size: $font-size-4;
}

@media screen and (min-width: 320px) {
    
}

@media screen and (min-width: 768px){
    .commitments-title {
        padding-left: 20px;
        font-size: $font-size-2;
        font-weight: $font-weight-1;
        width: 600px;
    }

    .row-1 {
        display: flex;
        flex-direction: row;
        gap: 360px;
        padding-bottom: 130px;
    }

    .row-2 {
        display: flex;
        flex-direction: row;
        gap: 290px;
        padding-bottom: 0px;
    }

    .commitment-two {
        padding-left: 30px;
        width: 550px;
    }

    .get-in-touch-container {
        float: right;
        text-align: right;
        width: 42%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 60px 0px 140px 0px;
    }
} 



