@use 'variables' as *;

.connect {
    background-color: $red-bg-color;
    font-family: Poppins, sans-serif;
    padding: 1rem 4rem;
    color: #fff;
    margin-left: -2rem;
    margin-right: -2rem;
    width: 100%;
    max-width: 125rem;
}

.connect table {
    width: 100%;
    border-collapse: collapse;
    border-top: .5px solid $text-color;
    font-size: 25px;
}

.connect table tr, 
.connect table td {
    border-top: .5px solid $text-color;
    border-bottom: .5px solid $text-color;
    border-spacing: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.connect table tr .social, .connect table tr .arrow {
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.connect table tr .social:hover {
    transform: translateX(75px);
}

.connect table tr .arrow:hover {
    transform: translateX(-100px);
}

.connect .arrow {
    fill: #fff;
    stroke: #fff;
    float: right;
    
}