@use 'variables' as *;

hr {
    border: none;
    height: 0.05rem;
    opacity: 30%;
    background-color: $color-1;
    width: 95vw;
    padding-left: 2rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 2rem;
    width: 100%;
    height: auto;
    overflow: visible;
}

.services-title {
    width: fit-content;
    font-size: $font-size-6;
    font-weight: $font-weight-2;
}

.services-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    overflow: visible;
}

.services-description {
    font-size: $font-size-3;
    padding-bottom: 5rem;
    width: 100%;
    text-align: left;
    overflow: visible;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.service-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;

}

.service-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;

}

.service-three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 3.125rem;
}

.small-number, 
.service-type {
    display: inline-block;
}

.small-number {
    padding-right: 1.25rem;
}

.service-type {
    font-weight: $font-weight-1;
}

.services-link {
    display: flex;
    align-items: center;
}

.services-link h2 {
    color: $color-1;
    padding-right: .4375rem;
    text-decoration: none;
    display: inline-block; 
    border-bottom: .175rem solid $color-1; 
    font-weight: 400;
}

.services-link .bullet-point {
    font-size: $font-size-4;
}

.services-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 100vw;
    height: auto;
}

.line-1,
.line-2,
.line-3 {
    border: none;
    height: .05rem;
    opacity: 20%;
    width: 100vw; 
}

@media (min-width: $tablet) {
    .services {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .services-right {
        width: 50%;
    }

    .services-description {
        width: 90%;
    }

    .service-one,
    .service-two,
    .service-three {
        width: 100%;
    }

    .services-image img {
        width: 100vw;
    }

    .line-1,
    .line-2,
    .line-3 {
        width: 75%;
    }
}