//Colors for fonts:
$color-1: #e10e2b;
$dark-color:#fbf6ee;  //font color for dark mood

//Fonts:
$main-font: 'Poppins', sans-serif;
//Background color in light and dark mood
$light-bg-color:#FBF6EE;
$dark-bg-color:#1b1b2c;

//Font weights:
$font-weight-1: 400;    //Font of tiny texts:
$font-size-1: 14px;
$font-size-2: 49px;
$font-size-3: 18px;
$font-size-4: 28px;
$font-size-5: 19px;

//Screen sizes:
$desktop:1120px;
$tablet:976px;

//Paddings for logo and dark-mood:
$padding-1:1.5rem;   //For desktop.
$padding-2:1.875rem;    //For tablet. 

//minmax:
%flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

@mixin flex-layout(){
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}