@use "variables" as *;
@use "blog";
@use "services";
@use "commitment";
@use "header";
@use "banner";
@use "hamburger";
@use "awards";
@use "footer";
@use "connect";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: $light-bg-color;
  font-family: $main-font;
  //font color is added here for dark/light mood icon to be able to work. In some files the color is overwriting , which needs to be removed.
  color: $color-1;
  width: 100vw;
  max-width: 120rem;
  margin: 0;

  svg {
    fill: $color-1;
  }

  a,
  a:hover {
    color: $color-1;
  }
}

main {
  margin-left: -2rem;
  margin-right: -2rem;
  border-collapse: collapse;
  padding: 0 2.5rem;
}

.red-bg {
  background-color: $red-bg-color;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: inherit;
}
