.blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 240px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 10px 170px 60px;
  width: 100%;
  max-width: 100%;
}

.blog-card {
  overflow: hidden;
  position: relative;
  width: auto;
}

.blog-card img {
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 400;
}

.blog-title {
  font-size: 28px;
  font-weight: 400;
}

@media screen and (min-width: 320px) {
  .blog {
    max-width: 100%;
    align-items: start;
  }
}
@media screen and (min-width: 768px) {
  .blog {
    max-width: 1300px;
    padding: 10px 10px 170px 10px;
  }
}
hr {
  border: none;
  height: 0.8px;
  opacity: 30%;
  background-color: #e10e2b;
  width: 320px;
  padding-left: 250px;
}

.services {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.services-title {
  width: 700px;
  padding-left: 20px;
  font-size: 49px;
  font-weight: 400;
}

.services-right {
  width: 500px;
  padding-left: 40px;
}

.services-description {
  font-size: 18px;
  padding-bottom: 40px;
  width: 300px;
  text-align: left;
}

.service-one {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-two {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 50px;
}

.service-three h2 {
  width: 300px;
}

.small-number {
  padding-right: 20px;
}

.service-type {
  font-weight: 400;
}

.services-link {
  display: flex;
  align-items: center;
  padding: 0px 0px 160px 20px;
}

.services-link a {
  color: #e10e2b;
  padding-right: 7px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #e10e2b;
  line-height: 0.2;
  margin-bottom: -1px;
  font-weight: 100;
}

.services-link .bullet-point {
  font-size: 28px;
}

.services-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  max-width: 1200px;
}

.services-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.line-1,
.line-2,
.line-3 {
  border: none;
  height: 0.8px;
  opacity: 30%;
  width: 370px;
  padding-left: 250px;
}

@media screen and (min-width: 320px) {
  .services {
    flex-direction: column;
  }
  hr {
    padding: 0px;
    width: 1200px;
  }
  .services-image {
    width: 100%;
    padding: 0px;
    max-width: 100%;
  }
  .services-image img {
    width: 100%;
    height: auto;
    max-width: 750px;
  }
}
@media screen and (min-width: 768px) {
  .services {
    flex-direction: row;
  }
  hr {
    padding: 0px;
    width: 1200px;
  }
  .services-right {
    padding-top: 25px;
  }
  .service-three h2 {
    width: 100%;
  }
  .services-image {
    width: 100%;
  }
  .services-image img {
    max-width: 1300px;
    padding-top: 40px;
  }
  .services-description {
    font-size: 19px;
    width: 550px;
    padding-left: 20px;
    text-align: left;
  }
  .services-title {
    padding-left: 10px;
  }
  .services-link {
    padding-bottom: 160px;
  }
}
.commitments {
  padding: 20px;
}

.row-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commitments-title {
  padding-left: 0px;
  font-size: 28px;
  font-weight: 400;
  width: 300px;
}

.circle-number {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.circle-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.25;
  z-index: -1;
  background-color: transparent;
  border: 2px solid;
}

.commit-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.commit-description {
  font-size: 18px;
}

.row-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 90px;
}

.commitment-two {
  padding-left: 0px;
  width: 310px;
}

.get-in-touch-container {
  float: left;
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 140px;
  padding-left: 0px;
}

.get-in-touch-link {
  padding-right: 7px;
  color: #e10e2b;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #e10e2b;
  line-height: 0.2;
  margin-bottom: -1px;
  font-weight: 100;
}

.bullet-point {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .commitments-title {
    padding-left: 20px;
    font-size: 49px;
    font-weight: 400;
    width: 600px;
  }
  .row-1 {
    display: flex;
    flex-direction: row;
    gap: 360px;
    padding-bottom: 130px;
  }
  .row-2 {
    display: flex;
    flex-direction: row;
    gap: 290px;
    padding-bottom: 0px;
  }
  .commitment-two {
    padding-left: 30px;
    width: 550px;
  }
  .get-in-touch-container {
    float: right;
    text-align: right;
    width: 42%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0px 140px 0px;
  }
}
header {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  margin: 0;
}
header .logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.875rem;
  z-index: 40;
}
header .logo img {
  width: 20px;
  height: auto;
}
header .navBar {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: #FBF6EE;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
header .navBar .nav-item {
  margin: 16px 0;
}
header .navBar.active {
  transform: translateX(0);
}
header .dark-mood {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 40;
  cursor: pointer;
  display: none;
}
header .dark-mood svg {
  width: 20px;
  height: 20px;
}
@media (min-width: 976px) {
  header img {
    width: 28px;
  }
  header .logo {
    padding: 1.875rem;
  }
}
@media (min-width: 1120px) {
  header img {
    width: 20px;
  }
  header .logo {
    padding: 1.5rem;
  }
  header .dark-mood {
    display: block;
  }
  header .navBar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    transform: none;
    background-color: transparent;
  }
  header .navBar a {
    font-weight: 14px;
    text-decoration: none;
    color: #e10e2b;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 2rem;
    position: relative;
  }
  header .navBar a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #e10e2b;
    transition: width 0.2s linear;
  }
  header .navBar a:hover:after {
    width: 100%;
  }
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5.5rem;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding: 2rem 4rem;
}
.banner .banner-text .text-1 {
  width: 200px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
}
.banner .banner-text .text-2 h1 {
  margin: 0;
  font-size: 80px;
  line-height: 1.25rem;
  font-weight: normal;
}
.banner .highlighted {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.banner .image-container {
  position: relative;
  width: 100%;
  height: auto;
}
.banner .image-container .highlighted-image-background img {
  max-width: 96.875rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  justify-self: center;
}
.banner .image-container .highlighted-image-foreground {
  position: absolute;
  width: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.banner .banner-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
}
.banner .banner-highlighted-title {
  line-height: 2.5rem;
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 140px;
  max-width: 1100px;
}
@media (min-width: 976px) {
  .banner .text-2 {
    font-size: clamp(2.75rem, -8.0726rem + 17.7419vw, 5.5rem);
    font-weight: 300;
  }
}
@media (min-width: 1120px) {
  .banner .banner-text {
    display: grid;
    grid-template-columns: 19.5rem auto;
    gap: 0.5rem;
  }
  .banner .banner-text .text-1 {
    display: block;
  }
}

header .hamburger {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 40;
  position: fixed;
  top: 0;
  right: 0;
}
header .hamburger .hamburger-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  color: #e10e2b;
}
header .hamburger .hamburger-content .text {
  font-size: 14px;
  text-transform: uppercase;
}
header .hamburger .hamburger-content .bar {
  width: 48px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1120px) {
  header .hamburger {
    display: none;
  }
}

.awards {
  display: flex;
  flex-direction: column;
  border: none;
  font-family: Poppins, sans-serif;
  background-color: #F93756;
  width: 100%;
  height: 100%;
  padding: 4rem 4rem 2rem 4rem;
  max-width: 125rem;
}

.awards-image {
  max-width: 96.875rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.awards-title, tr, td, .connect-title {
  color: #FBF6EE;
}

.awards-title, .connect-title {
  line-height: 3.5rem;
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.awards table tr,
.awards table td {
  border-top: 0.5px solid #FBF6EE;
  border-spacing: 0;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
}

.awards table td:first-child {
  font-size: 0.875rem;
}

.awards table td:nth-child(2) {
  font-size: 1.25rem;
}

.awards table td:last-child {
  font-weight: 800;
  font-size: 1.5625rem;
}

footer {
  background-color: #F93756;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  padding: 2rem 4rem;
  color: #fff;
  border-collapse: collapse;
}
footer footer a {
  color: #fff;
}
footer footer a:visited {
  color: #fff;
}
footer table {
  width: 100%;
  border-collapse: collapse;
}
footer table a {
  font-size: 1.1rem;
  font-weight: 500;
}
footer th,
footer td {
  padding: 4px 10px;
  text-align: left;
}
footer tr {
  padding-right: 10px;
}
footer .left-text {
  font-size: 2rem;
  width: 35%;
  display: inline-block;
}
footer .left-text h2,
footer .left-text a {
  font-weight: 300;
  line-height: 1.1;
  text-decoration-thickness: 0.2rem;
  color: #fff;
}
footer .right-text {
  padding-top: 2rem;
  width: 50%;
  display: inline-block;
  padding-left: 4rem;
  position: relative;
}
footer .right-text a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
footer .copy-right {
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 100%;
}
footer .copy-right a {
  color: #fff;
}
footer .arrow {
  fill: #fff;
  stroke: #fff;
}

.connect {
  background-color: #F93756;
  font-family: Poppins, sans-serif;
  padding: 1rem 4rem;
  color: #fff;
  width: 100%;
  max-width: 125rem;
}

.connect table {
  width: 100%;
  border-collapse: collapse;
  border-top: 0.5px solid #FBF6EE;
  font-size: 25px;
}

.connect table tr,
.connect table td {
  border-top: 0.5px solid #FBF6EE;
  border-bottom: 0.5px solid #FBF6EE;
  border-spacing: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.connect table tr .social, .connect table tr .arrow {
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.connect table tr .social:hover {
  transform: translateX(75px);
}

.connect table tr .arrow:hover {
  transform: translateX(-100px);
}

.connect .arrow {
  fill: #fff;
  stroke: #fff;
  float: right;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FBF6EE;
  font-family: "Poppins", sans-serif;
  color: #e10e2b;
  width: 100vw;
  max-width: 120rem;
  margin: 0;
}
body svg {
  fill: #e10e2b;
}
body a,
body a:hover {
  color: #e10e2b;
}

main {
  margin-left: -2rem;
  margin-right: -2rem;
  border-collapse: collapse;
  padding: 0 4rem;
}

.red-bg {
  background-color: #F93756;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: inherit;
}

/*# sourceMappingURL=styles.css.map */
