header .navBar, header .navBar a {
  display: flex;
  flex-wrap: nowrap;
}

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 8rem;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 6rem;
}

.blog-card {
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
}

.blog-card img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 14px;
  font-weight: 400;
}

.blog-title {
  margin-top: -0.25rem;
  font-size: 28px;
  font-weight: 400;
  line-height: 2rem;
}

@media (min-width: 976px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    align-items: start;
    padding: 0 2rem;
  }
}
@media (min-width: 1120px) {
  .blog {
    max-width: 120rem;
    padding-bottom: 5rem;
  }
  .blog-card {
    width: 100%;
    height: auto;
  }
}
hr {
  border: none;
  height: 0.05rem;
  opacity: 30%;
  background-color: #F93756;
  width: 95vw;
  padding-left: 2rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 2rem;
  width: 100%;
  height: auto;
  overflow: visible;
}

.services-title {
  width: fit-content;
  font-size: 40px;
  font-weight: 500;
}

.services-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 85%;
  overflow: visible;
}

.services-description {
  font-size: 18px;
  padding-bottom: 5rem;
  width: 100%;
  text-align: left;
  overflow: visible;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.service-one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

.service-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

.service-three {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 3.125rem;
}

.small-number,
.service-type {
  display: inline-block;
}

.small-number {
  padding-right: 1.25rem;
}

.service-type {
  font-weight: 400;
}

.services-link {
  display: flex;
  align-items: center;
}

.services-link h2 {
  color: #F93756;
  padding-right: 0.4375rem;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.175rem solid #F93756;
  font-weight: 400;
}

.services-link .bullet-point {
  font-size: 28px;
}

.services-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100vw;
  height: auto;
}

.line-1,
.line-2,
.line-3 {
  border: none;
  height: 0.05rem;
  opacity: 20%;
  width: 100vw;
}

@media (min-width: 976px) {
  .services {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .services-right {
    width: 50%;
  }
  .services-description {
    width: 90%;
  }
  .service-one,
  .service-two,
  .service-three {
    width: 100%;
  }
  .services-image img {
    width: 100vw;
  }
  .line-1,
  .line-2,
  .line-3 {
    width: 75%;
  }
}
.commitments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: visible;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0.5rem 0;
  width: 100%;
  height: auto;
  overflow: visible;
}

.commitments-title {
  width: fit-content;
  font-size: 40px;
  font-weight: 500;
}

.circle-number {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.circle-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.25;
  z-index: -1;
  background-color: transparent;
  border: 2px solid;
}

.commit-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.commit-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: visible;
  font-size: 18px;
}

.get-in-touch-container {
  padding: 4rem 0;
  width: fit-content;
  display: flex;
}

.get-in-touch-container h2 {
  font-weight: 400;
}

.get-in-touch-link {
  width: 100%;
  padding-right: 7px;
  color: #F93756;
  text-decoration: none;
  border-bottom: 2px solid #F93756;
  line-height: 0.2;
  margin-bottom: -1px;
}

.bullet-point {
  font-size: 28px;
}

@media (min-width: 976px) {
  .commitments {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 1rem;
    width: 50%;
    height: auto;
    gap: 1rem;
  }
  .commitments-title {
    font-size: 49px;
  }
  .commit-title {
    font-size: 18px;
  }
  .commit-description {
    font-size: 19px;
    width: fit-content;
  }
  .get-in-touch-container {
    display: flex;
    width: 100%;
    padding: 4rem 0;
  }
  .get-in-touch-container h2 {
    font-size: 18px;
  }
  .get-in-touch-link {
    width: fit-content;
    font-size: 28px;
  }
  .bullet-point {
    font-size: 19px;
  }
}
@media (min-width: 1120px) {
  .commitments {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 1rem;
    width: 45%;
    height: auto;
    gap: 1rem;
  }
  .get-in-touch-container {
    padding: 4rem 0;
    width: 100%;
    display: flex;
  }
  .get-in-touch-container h2,
  .get-in-touch-link {
    width: fit-content;
  }
}
header {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  margin: 0;
}
header .logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.875rem;
  z-index: 40;
}
header .logo img {
  width: 20px;
  height: auto;
}
header .dark-mood {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 40;
  display: none;
}
header .dark-mood svg {
  width: 20px;
  height: 20px;
}
header .navBar {
  display: none;
  z-index: 40;
  display: none;
}
header .navBar a {
  font-weight: 14px;
  text-decoration: none;
  color: #F93756;
  margin: 0 2rem;
  position: relative;
}
header .navBar a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F93756;
  transition: width 0.2s linear;
}
header .navBar a:hover:after {
  width: 100%;
}
@media (min-width: 976px) {
  header img {
    width: 28px;
  }
  header .logo {
    padding: 1.875rem;
  }
}
@media (min-width: 1120px) {
  header img {
    width: 20px;
  }
  header .logo {
    padding: 1.5rem;
  }
  header .dark-mood {
    display: block;
  }
  header .navBar {
    display: flex;
  }
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
}
.banner .banner-text .text-1 {
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
}
.banner .banner-text .text-2 {
  margin-top: -1rem;
  width: 90%;
  font-size: 49px;
  font-weight: 400;
}
.banner .highlighted {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  text-transform: uppercase;
}
.banner .image-container {
  position: relative;
  width: 100%;
  height: auto;
}
.banner .image-container .highlighted-image-background img {
  max-width: 120rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  justify-self: center;
}
.banner .image-container .highlighted-image-foreground {
  position: absolute;
  overflow: hidden;
  width: 15%;
  top: 25%;
  left: 45%;
  transition: transform 0.5s ease;
  z-index: 4;
}
.banner .image-container .highlighted-image-foreground:hover {
  transform: scale(1.1);
}
.banner .banner-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
}
.banner .banner-highlighted-title {
  line-height: 2.5rem;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 140px;
}
@media (min-width: 976px) {
  .banner .text-2 {
    font-size: clamp(2.75rem, -8.0726rem + 17.7419vw, 5.5rem);
    font-weight: 300;
  }
}
@media (min-width: 1120px) {
  .banner .banner-text {
    display: grid;
    grid-template-columns: 19.5rem auto;
    gap: 0.5rem;
  }
  .banner .banner-text .text-1 {
    display: block;
  }
  .banner .banner-text .text-2 {
    margin-top: 0;
    width: 100%;
    font-size: 80px;
    line-height: 7.5rem;
  }
}

header .hamburger {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 40;
  position: fixed;
  top: 0;
  right: 0;
}
header .hamburger .hamburger-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  color: #F93756;
}
header .hamburger .hamburger-content .text {
  font-size: 14px;
  text-transform: uppercase;
}
header .hamburger .hamburger-content svg {
  width: 48px;
}
@media (min-width: 1120px) {
  header .hamburger {
    display: none;
  }
}

.awards {
  display: flex;
  flex-direction: column;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: #F93756;
  width: 100%;
  height: auto;
  padding: 4rem 4rem 2rem 4rem;
  max-width: 125rem;
}

.awards-image {
  max-width: 96.875rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.awards-title, tr, td, .connect-title {
  color: #FBF6EE;
}

.awards-title, .connect-title {
  line-height: 3rem;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.awards-table {
  width: 100%;
  border-collapse: collapse;
}

.awards table tr,
.awards table td {
  border-top: 0.5px solid #FBF6EE;
  border-spacing: 0;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
}

.awards table td:first-child {
  font-size: 14px;
}

.awards table td:nth-child(2) {
  font-size: 18px;
  width: 50%;
}

.awards table td:last-child {
  font-weight: 800;
  font-size: 28px;
  float: right;
  border-top: none;
}

@media (min-width: 976px) {
  .awards-title {
    font-size: 49px;
  }
}
footer {
  background-color: #F93756;
  font-family: "Poppins", sans-serif;
  color: #FBF6EE;
  padding: 2rem 0.01rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}
footer footer a {
  color: #FBF6EE;
}
footer footer a:visited,
footer footer a:hover {
  color: #FBF6EE;
}
footer .left-text {
  width: 50%;
  font-weight: 400;
  margin-bottom: 2rem;
}
footer .left-text h2,
footer .left-text a {
  font-weight: 400;
}
footer table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
footer .left-text a,
footer .right-text a,
footer .copy-right a {
  color: #FBF6EE;
}
footer .left-text a:hover,
footer .right-text a:hover,
footer .copy-right a:hover {
  color: #FBF6EE;
}
footer .right-text a,
footer .copy-right a {
  text-decoration: none;
}
footer .copy-right {
  padding-top: 2rem;
  width: 45%;
}
footer .arrow {
  fill: #FBF6EE;
  stroke: #FBF6EE;
}

@media (min-width: 976px) {
  footer {
    background-color: #F93756;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 2rem 4rem;
    color: #FBF6EE;
    border-collapse: collapse;
  }
  footer footer a {
    color: #FBF6EE;
  }
  footer footer a:visited {
    color: #FBF6EE;
  }
  footer table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  footer table a {
    font-size: 1.1rem;
    font-weight: 500;
  }
  footer th,
  footer td {
    padding: 4px 10px;
    text-align: left;
  }
  footer tr {
    padding-right: 10px;
  }
  footer .left-text {
    position: absolute;
    font-size: 2rem;
    width: 35%;
    display: inline-block;
  }
  footer .left-text h2,
  footer .left-text a {
    font-weight: 300;
    line-height: 1.1;
    text-decoration-thickness: 0.2rem;
    color: #FBF6EE;
  }
  footer .right-text {
    padding-top: 2rem;
    width: 50%;
    padding-left: 4rem;
    margin-left: 50%;
    position: relative;
    float: right;
  }
  footer .right-text a {
    text-decoration: none;
    color: #FBF6EE;
    font-weight: 300;
  }
  footer .left-text a:hover,
  footer .right-text a:hover {
    color: #FBF6EE;
  }
  footer .copy-right {
    font-size: 14px;
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  footer .copy-right a {
    color: #FBF6EE;
  }
  footer .copy-right a:hover {
    color: #FBF6EE;
  }
  footer .arrow {
    fill: #FBF6EE;
    stroke: #FBF6EE;
  }
}
@media (min-width: 1120px) {
  footer {
    background-color: #F93756;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 2rem 0.01rem 2rem 2rem;
    color: #FBF6EE;
    border-collapse: collapse;
  }
  footer footer a {
    color: #FBF6EE;
  }
  footer footer a:visited {
    color: #FBF6EE;
  }
  footer .left-text {
    font-size: 2rem;
    width: 30%;
    display: inline-block;
  }
  footer .left-text h2,
  footer .left-text a {
    font-weight: 300;
    line-height: 1.1;
    text-decoration-thickness: 0.2rem;
    color: #FBF6EE;
  }
  footer .right-text {
    padding-top: 2rem;
    width: 50%;
    padding-left: 4rem;
    position: relative;
    float: right;
  }
  footer .right-text a {
    text-decoration: none;
    color: #FBF6EE;
    font-weight: 300;
  }
  footer .left-text a:hover,
  footer .right-text a:hover {
    color: #FBF6EE;
  }
  footer .copy-right {
    font-size: 14px;
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  footer .copy-right a {
    color: #FBF6EE;
  }
  footer .copy-right a:hover {
    color: #FBF6EE;
  }
  footer .arrow {
    fill: #FBF6EE;
    stroke: #FBF6EE;
  }
}
.connect {
  background-color: #F93756;
  font-family: "Poppins", sans-serif;
  padding: 1rem 4rem;
  color: #FBF6EE;
  width: 100%;
  max-width: 125rem;
}

.connect-title {
  font-size: 40px;
}

.connect table {
  width: 100%;
  border-collapse: collapse;
  border-top: 0.5px solid #FBF6EE;
  font-size: 19px;
}

.connect table tr,
.connect table td {
  border-top: 0.5px solid #FBF6EE;
  border-bottom: 0.5px solid #FBF6EE;
  border-spacing: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.connect table tr .social, .connect table tr .arrow {
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.connect table tr .social:hover {
  transform: translateX(75px);
}

.connect table tr .arrow:hover {
  transform: translateX(-100px);
}

.connect .arrow {
  fill: #FBF6EE;
  stroke: #FBF6EE;
  float: right;
}

@media (min-width: 976px) {
  .connect-title {
    font-size: 49px;
  }
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #FBF6EE;
  font-family: "Poppins", sans-serif;
  color: #F93756;
  width: 100%;
  max-width: 120rem;
  margin: 0;
  padding: 0;
}
body svg {
  fill: #F93756;
}
body a,
body a:hover {
  color: #F93756;
}

main {
  margin-left: -2rem;
  margin-right: -1rem;
  border-collapse: collapse;
  padding: 0 3rem;
}

.red-bg {
  background-color: #F93756;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin: inherit;
  right: 0;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
